{% extends "layout.html" %}
{% block content %}
   <div class="form-group">
<h6>Share a gift Information Systems project of Politecnico di Torino Students</h6>
<table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none'>
 <tr style='height:21.15pt'>
  <td width=208 valign=top style='width:155.75pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.15pt'>
  <p style='margin-top:0cm'><b><span lang=EN-US style='font-size:14.0pt;
  font-family:"Times","serif";color:black'>Team members:</span></b></p>
  </td>
  <td width=104 valign=top style='width:78.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.15pt'>
  <p style='margin-top:0cm'><b><span lang=EN-US style='font-size:14.0pt;
  font-family:"Times","serif";color:black'>Matricola:</span></b></p>
  </td>
  <td width=265 valign=top style='width:198.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.15pt'>
  <p style='margin-top:0cm'><b><span lang=EN-US style='font-size:14.0pt;
  font-family:"Times","serif";color:black'>Professor:</span></span></b></p>
  </td>
 </tr>
 <tr style='height:20.4pt'>
  <td width=208 valign=top style='width:155.75pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:20.4pt'>
  <p style='margin-top:0cm'><span lang=EN-US style='font-size:14.0pt;
  font-family:"Times","serif";color:black'>Akhararov Gayratkhuja</span></p>
  </td>
  <td width=104 valign=top style='width:78.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:20.4pt'>
  <p style='margin-top:0cm'><span lang=EN-US style='font-size:14.0pt;
  font-family:"Times","serif";color:black'>s261782</span></span><span
  style='white-space:pre-wrap'></p>
  </td>
  <td width=265 valign=top style='width:198.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:20.4pt'>
  <p style='margin-top:0cm'><span lang=EN-US style='font-size:14.0pt;
  font-family:"Times","serif";color:black'>Demartini Claudio Giovanni</span></span></p>
  </td>
 </tr>
 <tr style='height:18.95pt'>
  <td width=208 valign=top style='width:155.75pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:18.95pt'>
  <p><span lang=EN-US style='font-size:14.0pt;font-family:"Times","serif";
  color:black'>Ciulla Serena </span></span><span style='white-space:pre-wrap'></p>
  </td>
  <td width=104 valign=top style='width:78.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:18.95pt'>
  <p><span lang=EN-US style='font-size:14.0pt;font-family:"Times","serif";
  color:black'>s266145</span></span></p>
  </td>
  <td width=265 valign=top style='width:198.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:18.95pt'>
  <p style='margin-top:0cm'><span lang=EN-US>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:20.4pt'>
  <td width=208 valign=top style='width:155.75pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:20.4pt'>
  <p style='margin-top:0cm'><span lang=EN-US style='font-size:14.0pt;
  font-family:"Times","serif";color:black'>Maniello Federico</span></p>
  </td>
  <td width=104 valign=top style='width:78.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:20.4pt'>
  <p style='margin-top:0cm'><span lang=EN-US style='font-size:14.0pt;
  font-family:"Times","serif";color:black'>s264944</span></span></p>
  </td>
  <td width=265 valign=top style='width:198.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:20.4pt'>
  <p style='margin-top:0cm'><span lang=EN-US>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:20.4pt'>
  <td width=208 valign=top style='width:155.75pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:20.4pt'>
  <p style='margin-top:0cm'><span lang=EN-US style='font-size:14.0pt;
  font-family:"Times","serif";color:black'>Paladino Arianna</span></p>
  </td>
  <td width=104 valign=top style='width:78.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:20.4pt'>
  <p style='margin-top:0cm'><span lang=EN-US style='font-size:14.0pt;
  font-family:"Times","serif";color:black'>s255575</span></span></p>
  </td>
  <td width=265 valign=top style='width:198.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:20.4pt'>
  <p style='margin-top:0cm'><span lang=EN-US>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:28.25pt'>
  <td width=208 valign=top style='width:155.75pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:28.25pt'>
  <p style='margin-top:0cm'><span lang=EN-US style='font-size:14.0pt;
  font-family:"Times","serif";color:black'>Torrese Simone</span></p>
  </td>
  <td width=104 valign=top style='width:78.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:28.25pt'>
  <p style='margin-top:0cm'><span lang=EN-US style='font-size:14.0pt;
  font-family:"Times","serif";color:black'>s259763</span></span></p>
  </td>
  <td width=265 valign=top style='width:198.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:28.25pt'>
  <p style='margin-top:0cm'><span lang=EN-US>&nbsp;</span></p>
  </td>
 </tr>
</table>
   </div>
{% endblock content %}